:root {
    --very-dark-blue: hsl(233, 47%, 7%);
    --dark-desaturated: hsl(244, 38%, 16%);
    --soft-violet: hsl(277, 64%, 61%);
    --white: hsl(0, 0%, 100%);
    --slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
    --slightly-transparent-white: hsla(0, 0%, 100%, 0.6);
    --font-size: 1rem;
    --font-family-inter: "Inter", sans-serif;
    --font-family-lexend: "Lexend Deca", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    background: var(--very-dark-blue);
    color: var(--white);
    -webkit-font-smoothing: antialiased;
    width: 100%;
    height: 80vh;
}

body,
input,
button {
    font-size: var(--font-size);
    font-family: var(--font-family-inter);
}

button {
    cursor: pointer;
}

.container {
    width: 80%;
    margin: 15rem auto;
    background: var(--dark-desaturated);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.images {
    background: var(--soft-violet);
}

.images img {
    display: inline-block;
    object-fit: contain;
    opacity: 0.55;
    filter: brightness(60%);
    width: 100%;
}