:root {
    --very-dark-blue: hsl(233, 47%, 7%);
    --dark-desaturated: hsl(244, 38%, 16%);
    --soft-violet: hsl(277, 64%, 61%);
    --white: hsl(0, 0%, 100%);
    --slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
    --slightly-transparent-white-stat: hsla(0, 0%, 100%, 0.6);
    --font-size: 1rem;
    --font-family-inter: "Inter", sans-serif;
    --font-family-lexend: "Lexend Deca", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    background: var(--very-dark-blue);
    color: var(--white);
    -webkit-font-smoothing: antialiased;
    width: 100%;
    height: 90vh;
    ;
    overflow: hidden;
}

body,
input,
button {
    font-size: var(--font-size);
    font-family: var(--font-family-inter);
}

button {
    cursor: pointer;
}

img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    display: block;
    line-height: 0
}

.container {
    width: 60%;
    margin: 15rem auto;
    background: var(--dark-desaturated);
    display: flex;
    border-radius: 1rem;
}

.typoragphy {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 4rem;
    justify-content: center;
    gap: 4rem;
}

.note_side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.note_side h2 {
    text-align: left;
    width: 100%;
    font-size: 2.0rem;
    font-weight: 700;
}

.note_side span {
    color: var(--soft-violet);
}

.note_side p {
    font-size: 0.8rem;
    color: var(--slightly-transparent-white);
    width: 80%;
    line-height: 1.3rem;
}

.stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    gap: 2rem;
}

.stats h3 {
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 0.6rem;
}

.stats p {
    color: var(--slightly-transparent-white-stat);
    text-transform: uppercase;
    font-size: 0.7rem;
}

.images {
    position: relative;
    width: 70%;
    display: flex;
    border-radius: 0 1rem 1rem 0;
}

.images::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(rgba(119, 46, 166, 0.7), rgba(119, 46, 166, 0.7)), url(/images/image-header-desktop.jpg);
    background-repeat: no-repeat;
    border-radius: 0 1rem 1rem 0;
    background-size: cover;
    background-position: center;
}

@media screen and (min-width:300px) and (max-width:768px) {
    .container {
        flex-direction: column-reverse;
        margin: 2rem auto;
        border-radius: 1.2rem;
    }

    .images {
        height: 14rem;
        width: 100%;
        border-radius: 1.2rem 1.2rem 0 0;
        background-image: url(/images/image-header-mobile.jpg);
    }

    .typoragphy {
        margin: 4rem auto;
    }

    .note_side h2,
    .note_side p {
        text-align: center;
    }

    .note_side p {
        width: 100%;
        font-size: 1rem;
        text-align: center;
        margin: auto;
    }

    .stats {
        flex-direction: column;
        margin: auto;
        align-items: center;
        gap: 2rem;
    }

    .stats h3 {
        text-align: center;
    }

    .stats p {
        font-weight: 600;
        font-size: 0.9rem;
    }
}